body {
  /*background: #353535; */
  line-height: 1.2rem;
}

footer {visibility: hidden;}



/* Accueil function text styling */
.accueil-text h1 {
  color: red;
}

.accueil-text p, .accueil-text div {
  color: red;
}

/* Text main-bis */
.main-bis-text {
  font-size: 1.6rem;      /* em/rem alternative */
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  text-align: center;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.loader {
  font-size: 10px;
  position: relative;
  /* text-indent: -9999em; */
  border-top: 0.3em solid rgba(255, 255, 255, 0.2);
  border-right: 0.3em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.3em solid rgba(255, 255, 255, 0.2);
  border-left: 0.3em solid #a2aab0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

    text-align: center;
    font-size: 14px;;
}

