body {
  /*background: #353535; */
  line-height: 1.2rem;
}

footer {visibility: hidden;}



/* Accueil function text styling */
.accueil-text h1 {
  color: red;
}

.accueil-text p, .accueil-text div {
  color: red;
}

/* Text main-bis */
.main-bis-text {
  font-size: 1.6rem;      /* em/rem alternative */
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  text-align: center;
}

/* Form */
.css-1h109da{
    border: none;
    padding: 0px;
    margin:0px;
    margin-bottom:3px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.loader {
  font-size: 10px;
  position: relative;
  /* text-indent: -9999em; */
  border-top: 0.3em solid rgba(255, 255, 255, 0.2);
  border-right: 0.3em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.3em solid rgba(255, 255, 255, 0.2);
  border-left: 0.3em solid #a2aab0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}


/* Multi Select */
.stMultiSelect>label{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00B7C2;
    position: absolute;
    left: 0%;
    height: 100%;
    padding: 0.31rem;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    z-index:1;
    min-width: 5.5rem;
    text-align: center;
    font-size: 14px;

}


/* TEXT INPUT */
.stTextInput>label{
    background-color: #00B7C2;
    position: absolute;
    left: 0%;
    padding: 0.31rem;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    min-width: 5.5rem;
    max-width: 5.5rem;
    height: 100%;
    text-align: center;
    font-size: 14px;
    text-overflow: none;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Select Box */
.stSelectbox>label{
    background-color: #00B7C2;
    position: absolute;
    left: 0%;
    padding: 0.31rem;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    z-index:1;
    min-width: 5.5rem;
    height: 100%;
    text-align: center;
    font-size: 14px;;
}
